@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url('playfairDisplay.woff2') format('woff2');
}

@font-face {
  font-family: 'sophia';
  src: url('Sophia.woff2') format('woff2');
}
@font-face {
  font-family: 'sophia-right';
  src: url('SophiaRight.woff2') format('woff2');
}
@font-face {
  font-family: 'sophia-left';
  src: url('SophiaLeft.woff2') format('woff2');
}

/* Background Settings */

body {
  margin: 0;
}

.App {
  height: 100vh;
  padding-top: 8%;
  position: relative;
  text-align: center;
}

.App:before {
  background-image: url('flower-bg.jpg');
  background-position: center;
  background-size: cover;
  content: '';
  filter: blur(5px);
  opacity: 0.45;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: -1;
}

/* Main text */

.hashtag {
  background: linear-gradient(120deg, rgb(147, 112, 219), rgb(255, 197, 208));
  font-family: 'sophia';
  font-size: 17rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.r-tails {
  font-family: 'sophia-right';
}

.l-tails {
  font-family: 'sophia-left';
}

/* Countdown */

.d-inline {
  display: inline-block;
  margin: .5rem;
}

.countdown-timer {
  color: #fff;
  font-size: 2.2rem;
  font-family: 'Playfair Display', serif;
  margin-top: -1.5rem;
}

.mini-text {
  display: block;
  font-size: 1rem;
  text-transform: lowercase;
}

@media only screen and (max-width: 600px) {
  .App {
    padding-top: 25%;
  }
  .hashtag {
    font-size: 12rem;
  }
}

@media only screen and (max-width: 480px) {
  .App {
    padding-top: 35%;
  }
  .hashtag {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    padding-top: 45%;
  }
  .hashtag {
    font-size: 10rem;
  }

  .clock {
    font-size: 1.8rem;
  }

  .mini {
    font-size: .8rem;
  }
}
